.jumbotron{
    padding: 38px 45px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 637px;
    box-sizing: border-box;
}

.container-jumbotron{
    max-height: 637px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000000; */
}

.hero {
    display: flex;
    opacity: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.onScreen {
    /* transition: all 0.5s ease ; */
    transition-duration: 1s;
    opacity: 1;
}

.title{
    margin: 0 8px;
    font-weight: 600;
    font-size: 40px;
}

.poClass{
    font-weight: 600;
    max-width: 415px;
}

.po{
    margin: 23px 0;
}

.Desc{
    font-size: 19px;
    line-height: 28px;
}

.Date{
    font-size: 28px;
}

#poButton{
    cursor: pointer;
    padding: 9.5px 19px;
    background: white;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 19px;
}

.container-release{
    display: flex;
    flex-direction: column;
}

.container-poItem{
    /* position: relative; */
    display: flex;
    max-width: 720px;
    min-width: 600px;
    flex-direction: column;
}

.slide{
    position: absolute;
    z-index: 10;
    filter: invert(1);
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    /* animation: slide, 1s; */
    transition: all 0.3s linear;
}

.next{
    right: 1%;
    top: 45%;
}

.next:active{
    right: 0.5%;
}

.prev{
    left: 1%;
    top: 45%;
}

.prev:active{
    
    left: 0.5%;
}

.container-poItem img {
    position: absolute;
    max-width: 940px;
    width: 50%;
    left: 40%;
    z-index: 2;
    transform: translate(5%, 70px);
    animation: slide-img 0.5s ease;
}

.brandName{
    margin: 0;
    font-weight: bold;
    font-size: 190px;
    color: #FFFFFF;
    opacity: 0.4;
    transform: translate(-65%, 5%);
    animation: slide-brand 0.5s ease;
}

.shoeName{
    position: relative;
    font-weight: 500;
    text-align: center;
    font-size: 80px;
    z-index: 1;
    margin: 0;
    color: #FFFFFF;
    transform: translate(-25%, 60%);
    animation: slide-name 0.5s ease;
    min-width: 600px;
}

.stroke{
    z-index: 2;
    position: absolute;
    bottom: 18.3%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: auto;
    overflow-y: clip;
    min-height: 310px;
    padding-bottom: 20px;
}

.newCard{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 448px;
    min-width: 448px;
    min-height: 298px;
    margin: 32px 12px;
    padding: 0 12px 23px 12px;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.newCard:hover{
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;  
}

.newCard img:hover{
    transform: scale(1.05);
}

.newCard img{
    position: absolute;
    right: 10px;
    top: 30px;
    transition: all .5s ease;
}

.card-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.on{
    display: none;
}

.brandName-new{
    margin: 0;
    font-weight: bold;
    font-size: 70px;
    color: #FFFFFF;
    opacity: 0.4;
}

.Date-new{
    font-size: 21px;
    font-weight: 600;
    color: #FFFFFF;
    opacity: 0.8;
}

.shoeName-new{
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.stack{
    z-index: 2;
    position: absolute;
    bottom: 8%;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    color: transparent;
}

.bestSeller{
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    min-height: 385px;
    justify-content: space-between;
    max-width: 1416px;
    margin: auto;
}

.bs-card{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 448px;
    min-width: 448px;
    min-height: 221px;
    margin: 32px 12px 0 12px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 26px;
    justify-content: space-between;
}

.bs-card:hover{
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.bs-card img:hover{
    transform: scale(1.02);
}

.bs-card img{
    position: absolute;
    top: -80px;
    left: 90px;
    overflow: visible;
    z-index: 2;
    transition: all .5s ease;
}

.bsBrand{
    margin: 0;
    font-style: italic;
    font-weight: 600;
    font-size: 70px;
    color: #FFFFFF;
    opacity: 0.4;
}

.bsShoe{
    margin: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    color: #FFFFFF;
    text-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
    text-align: end;
}

.theBrand{
    display: none;
    flex-direction: column;
}

.brandList{
    display: flex;
    align-items: center;
    margin: 18px 8px;
    overflow: auto;
    /* max-width: 375px; */
}


.brandList img{
    max-width: 95px;
    margin-right: 22px;
}

.categoryList{
    max-width: 1392px;
    margin: 20px auto;
    display: none;
    flex-direction: column;
    overflow-x: auto;
    min-height: 135px;
    justify-content: space-between;
}

/* animation form brand text */
@keyframes slide-brand {
    from { 
        opacity: 0;
        transform: translate(-55%, 5%);
    }
    
    to {
        opacity: 0.4;
        transform: translate(-65%, 5%);
    }
}
@keyframes slide-brand-one {
    from { 
        opacity: 0;
        transform: translate(-45%, 5%);
    }
    
    to {
        opacity: 0.4;
        transform: translate(-55%, 5%);
    }
}
@keyframes slide-brand-two {
    from { 
        opacity: 0;
        transform: translate(-15%, 15%);
    }
    
    to {
        opacity: 0.4;
        transform: translate(-25%, 15%);
    }
}

/* animation form img hero text */
@keyframes slide-img {
    from { 
        opacity: 0;
        transform: translate(10%, 70px);
    }
    
    to {
        opacity: 1;
        transform: translate(5%, 70px);
    }
}
@keyframes slide-img-one {
    from { 
        opacity: 0;
        transform: translate(10%, 70px);
    }
    
    to {
        opacity: 1;
        transform: translate(5%, 70px);
    }
}
@keyframes slide-img-two {
    from { 
        opacity: 0;
        transform: translate(10%, 70px);
    }
    
    to {
        opacity: 1;
        transform: translate(5%, 70px);
    }
}


/* animation form name shoes text */
@keyframes slide-name {
    from { 
        opacity: 0;
        transform: translate(-15%, 60%);
    }

    to {
        opacity: 1;
        transform: translate(-25%, 60%);
    }
}
@keyframes slide-name-one {
    from { 
        opacity: 0;
        transform: translate(0%, 60%);
    }

    to {
        opacity: 1;
        transform: translate(-10%, 60%);;
    }
}
@keyframes slide-name-two {
    from { 
        opacity: 0;
        transform: translate(10%, 120%);
    }

    to {
        opacity: 1;
        transform: translate(0%, 120%);
    }
}

@media screen and (max-width: 1420px) {
    .cards{
        justify-content: flex-start;
    }

    .bestSeller{
        padding: 0;
    }
}

@media screen and (max-width: 1375px) {

    .brandName{
        transform: translate(-55%, 5%);
        animation: slide-brand-one 0.5s ease ;
    }
    
    .shoeName{
        transform: translate(-10%, 60%);
        font-size: 60px;
        animation: slide-name-one 0.5s ease ;
    }

    .stroke{
        bottom: 20.5%;
    }
}

@media screen and (max-width: 1200px) {
    
    .brandName{
        font-size: 140px;
        transform: translate(-25%, 15%);
        animation: slide-brand-two 0.5s ease ;
    }
    .shoeName{
        transform: translate(0%, 120%);
        animation: slide-name-two 0.5s ease ;
        font-size: 50px;
    }

    .stroke{
        bottom: 27.6%;
    }

    .shoeName-new, .bsShoe{
        font-size: 50px;
        /* line-height: 34px; */
    }

    .stack{
        bottom: 9%;
    }

    .brandName-new, .bsBrand{
        font-size: 75px;
    }
    
    .cards{
        justify-content: flex-start;
    }

    .newCard{
        min-height: 258px;
    }

    .newCard img{
        width: 383px;
        top: 35px;
        right: 60px;
    }

    .bs-card{
        min-height: 201px;
    }

    .bs-card img{
        width: 312px;
        left: 140px;

    }
}
@media screen and (max-width: 992px) {
    .container-jumbotron{
        display: none;
    }
    
    .on{
        display: block;
    }

    .bestSeller{
        padding: 0;
    }

    .shoeName-new{
        font-size: 37px;
        line-height: 34px;
    }

    .stack {
        bottom: 11%;
    }

    .bsShoe{
        font-size: 37px;
        text-align: center;
    }

    .brandName-new{
        font-size: 57px;
    }
    
    .bsBrand{
        font-size: 57px;
        text-align: end;
        transform: translate(0, 60px);
    }

    .Date-new{
        display: none;
    }

    .bs-card, .newCard{
        margin: 32px 8px;
    }

    .bs-card{
        min-width: 358px;
    }

    .bs-card img{
        width: 282px;
        left: 30px;
    }

    .newCard{
        min-height: 208px;
        min-width: 351px;
    }

    

    .newCard img{
        width: 333px;
        top: 10px;
        right: 20px;
    }
}

@media screen and (max-width: 576px) {
    .title{
        font-size: 21px;
    }

    .cards{
        min-height: fit-content;
    }

    .newCard{
        min-width: 271px;
        min-height: 130px;
        border-radius: 16px;
        padding: 0px 12px;
        margin: 16px 8px;
    }

    .newCard img{
        width: 213px;
        top: 10px;
        right: 35px;
    }
    .shoeName-new{
        font-size: 23px;
        line-height: 34px;
    }

    .stack {
        bottom: 0%;
    }

    .brandName-new{
        font-size: 40px;
    }

    .Date-new{
        display: none;
    }
    
    .bs-card{
        margin: 32px 8px 0 8px;
        min-width: 165px;
        min-height: 83px;
        border-radius: 16px;
    }
    
    .bs-card img{
        width: 131px;
        top: -40px;
        left: 20px;
    }

    .bsBrand{
        font-size: 21px;
        text-align: end;
        transform: translate(5px, 30px);
    }

    .bsShoe{
        text-align: center;
        font-size: 17px;
    }

    .bestSeller{
        min-height: 166px;
    }

    .theBrand{
        display: flex;
    }

    .categoryList{
        display: flex;
        min-height: 88px;

    }
}

